* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: google;
    src: url(./Google-New/Product\ Sans\ Regular.ttf);
}



.google {
    position: relative;
    height: 150vh;
    background: #202124;
    text-align: center;
    padding: 10vw;
    
}

.google .darkAndlight{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 25px;
    left: 25px;
    cursor: pointer;
}

.google .darkAndlight .fa-sun{
    color:yellow
}

.google .darkAndlight .fa-moon{
    position: absolute;
    left: 12px;
    display: none;
}

.google span {
    font-family: google;
    font-size: 100px;
    color: var(--color);
    letter-spacing: -4px
}




.searchBar {
    position: relative;
    display: inline;
}

.searchBar .search {
    width: 567px;
    height: 51px;
    margin-top: 2vw;
    border-radius: 30px;
    background-color: #202124;
    border: .5px solid white;
    color: white;
    padding-left: 40px;
    padding-right: 118px;
    font-size: 20px;

}


.searchBar .search:hover {
    background-color: #313034
}


.searchBar .fa-magnifying-glass {
    position: absolute;
    top: 0vw;
    left: 0.7vw;
    z-index: 1;
    cursor: pointer;
}

.searchBar .fa-keyboard {
    position: absolute;
    top: 0vw;
    right: 1.3vw;
    cursor: pointer;
}


.searchBar .fa-x {
    position: absolute;
    top: 0;
    right: 5vw;
    cursor: pointer;
    display: none;

}


.searchBar .fa-microphone {
    position: absolute;
    top: 0;
    right: 3.3vw;
    cursor: pointer;
}
.buttons {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 31px;
    margin-top: 14px;
    margin-left: 33%;
}


.buttons #searchGoogle {
    border: 1px solid #303134;
    border-radius: 4px;
    width: 130px;
    height: 36px;
    background-color: #303134;
    color: white;
    font-size: 14px;
    cursor: pointer;
    user-select: none;

}

#linkSearchGoogle input {
    border: 1px solid #303134;
    border-radius: 4px;
    width: 130px;
    height: 36px;
    background-color: #303134;
    color: white;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}

#linkSearchGoogle input:hover {
    border-color: white;
}

.buttons #searchGoogle:hover {
    border-color: white;
}


.google .rightside {
    width: 115px;
    position: absolute;
    display: flex;
    gap: 20px;
    top: 1vw;
    right: 12vw;
    color:white
}

.google .rightside  .gmail  a{
    color:white;
    text-decoration: none;
   
}


.google .rightside  .images  a{
    text-decoration: none;
    color:white;
}

.google .rightside  .gmail  a:hover{
    text-decoration:underline}

    .google .rightside  .images  a:hover{
        text-decoration: underline;
    }


.google .menupoints{
    position: absolute;
    width: 25px;
    height: 25px;
    top: -8px;
    right: 187px;
    font-size: 39px;    
    cursor: pointer;
    transition: .2s;
}




.google .menupoints p{
    color:white
}

.google .menupoints p:nth-child(1){
    margin-bottom: -36px;
}
.google .menupoints p:nth-child(2){
    margin-bottom: -36px;
}

.google #btnLogin{
position: absolute;
top: 0.9vw;
right: 3vw;



}


.google #btnLogin input{

    width: 100px;
    height: 38px;
    color: white;
    background-color: rgb(15, 138, 160);
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.test{
    color:red
}

.google .menu{

width: 350px;
height: 235px;
top:3.6vw;
right:1vw;
background-color: #1b1b1b;
position:absolute;
border-radius:35px;
display: none;
}

.google .menu .icons {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    margin-top: 12px;
    padding: 18px 6px 0 6px;
    width: 340px;
    cursor: pointer;
}

.google .menu .icons > * {
    flex: 0 0 calc(33.33% - 20px); 
     color:white;
}

.google .menu .icons .play{
    margin-top: 50px;
}
.google .menu .icons .news{
    margin-top: 50px;
}

.google .menu .icons .mail{
    margin-top: 50px;
}

.menuShow{
    display: block !important;
}


